
<main class="main-wrapper">
  <div class="main-container">
    <div class="todo-container">
      <section class="todo-content">
        <div class="todo-sizer">

          @for (toDo of toDosList; track toDo.id) {
            <app-todo-card
            [spaceFromTop]="(($index + 1 * 2.2) + (4.2 * $index)).toString() + 'rem'"
            (refreshEventEmitter)="RefreshToDos()"
            [todoId]="toDo.id"
            [todoTitle]="toDo.title"
            ></app-todo-card>
          }

        </div>
      </section>
    </div>

    <div class="form-todo">
      <div class="form-content">
        <p class="form-title">
          Crea un nuevo ToDO!!
        </p>

        <div class="text-form-field">
          <label for="title-todo-field">TITULO</label>
          <input #titleField id="title-todo-field" type="text">
        </div>

        <button class="form-save-btn" (click)="SaveToDo()">Guardar</button>
      </div>
    </div>
  </div>
</main>
