
<main class="main-container">

  <div class="todo-container">
    <h2 class="todo-container-title">Por Hacer: </h2>
    <section class="todo-content">
      <div class="todo-sizer">
        <app-todo-card todoTitle="Comprar tomates" todoDescription="que no se me olvide ir por tomates"></app-todo-card>
        <app-todo-card todoTitle="Limpiar mis tenis" todoDescription="que no se me olvide comprar limpiador y sentarme al impiar lo tenis simon"></app-todo-card>
        <app-todo-card todoTitle="Comprar tomates" todoDescription="que no se me olvide ir por tomates"></app-todo-card>
      </div>
    </section>
  </div>

  <div class="form-todo">
    <div class="form-content">
      <p class="form-title">Crea un nuevo ToDO!!</p>

      <div class="form-field">


      </div>

      <button>Guardar</button>
    </div>
  </div>
</main>
